# Bỏ qua file MySQL tạm
mysql/*.sock
mysql/*.pid
mysql/*.err
mysql/ib_buffer_pool
mysql/auto.cnf

# Bỏ qua file backup, logs
*.log
*.sql

# Docker stuff
*.tmp
.env

# WordPress temp
wp-content/cache/
wp-content/uploads/
